*{margin:0; padding:0;
	list-style:none;
	font-size:15px;
	font-family:"nanumgothic";
	font-weight:500;
	color:#000;}
a{text-decoration:none;
	color:inherit;}
button{cursor:pointer;}
.clear{content:"";
		clear:both;
		display:block;}
#wrap{width:1400px;
		margin:0 auto;}

header{width:100%;
		height:125px;
		background-color:#fff;}
#logo{width:200px;
		height:40px;
		float:left;
		padding-top:30px;
		padding-left:30px;}

nav{width:1000px;
	height:50px;
	margin-left:250px;
	padding-top:45px;}
.nav li{width:180px;
		float:left;
		text-align:center;
		line-height:30px;
		position:relative;
		transition:all 0.4s;}
.nav li h2{font-size:22px;
		font-weight:600;}
.submenu{width:100%;
		height:200px;
		margin-top:45px;
		position:relative;
		z-index:2;
		display:none;}
.nav1 h2{color:#14a4af;}
.nav2 li:hover h2{background-color:#fff;
					color:#14a4af;
					height:77px;
					border-bottom:2px solid #14a4af;}
.nav2 li:nth-child(2) h2{background-color:#fff;
						color:#14a4af;
						height:77px;
						border-bottom:2px solid #14a4af;}
.submenu li{width:150px;
			line-height:52px;
			background-color:#ebebeb;
			font-size:15px;
			margin-left:15px;}
.back{position:absolute;
		top:0;
		z-index:1;
		display:block;
		margin-top:120px;}
.nav li:hover h2{color:#14a4af;}

.submenu li:hover a{color:#14a4af;
					border-bottom:1px solid #14a4af;}
#line{position:absolute;
		top:0;
		left:0;
		margin-top:-28px;
		margin-left:-48px;
		z-index:2;}


.tit{border:none;
	position:absolute;
	margin-left:984px;
	top:0;}
button{width:60px;
		height:20px;
		background-color:transparent !important;;
			background-image: none !important;
			border-color: transparent;
			border: none;
			color: #FFFFFF;}
.tit span{font-size:18px;
		font-weight:600;}
#nav4 button span{font-size:25px;
				font-weight:600;}
#nav4 button{margin-left:625px;
			margin-top:3px;
			position:absolute;}
#slide{
		overflow:hidden;}
#nav4{width:700px;
	height:513px;
	margin-left:700px;
	background-color:#fff;
	z-index:4;
	position:absolute;
	top:0;
	margin-top:40px;
	display:none;}


#nav4 li{margin-left:30px;}

#nav4 li h2{font-size:20px;
			font-weight:600;
			line-height:120px;
			z-index:3;
}
.a1{width:110px;}
.a1 a:hover h2{color:#14a4af;
					}
.b1 a:hover h2{color:#14a4af;
					}
.c1 a:hover h2{color:#14a4af;
					}
.d1 a:hover h2{color:#14a4af;
					}
.e1 a:hover h2{color:#14a4af;
					}
.b1{position:absolute;
	margin-top:45px;
	width:120px;}
.c1{position:absolute;
	margin-top:145px;
	width:100px;}
.d1{position:absolute;
	margin-top:245px;
	width:100px;}
.e1{position:absolute;
	margin-top:345px;
	width:90px;}
.submenu1{position:relative;
			top:0;
			left:0;
			margin-left:140px;
			margin-top:-65px;
			z-index:5;
			width:500px;}
.submenu1 li{float:left;}
.submenu1 li a{font-size:15px;}


#submenu1 li:hover h2{color:#14a4af;
					border-bottom:2px solid #14a4af;}
#submenu1 h2{font-weight:600;}
#line1, #line2, #line3, #line4, #line5{margin-left:30px;
										position:absolute;
										margin-top:80px;}
#line2{margin-top:125px;}
#line3{margin-top:225px;}
#line4{margin-top:325px;}
#line5{margin-top:425px;}

.submenu1 li:hover a{color:#14a4af;
					border-bottom:2px solid #14a4af;}
.nav2 li:hover h2{background-color:#fff;
					color:#14a4af;
					height:77px;
					border-bottom:2px solid #14a4af;}

button{width:60px;
		height:20px;
		background-color:transparent !important;;
			background-image: none !important;
			border-color: transparent;
			border: none;}
#pop_body{width:60px;
			height:40px;
			background-color:#e3e3e3;
			top:0;
			left:0;
			display:block;
			z-index:2;
			margin-left:1485px;
			margin-top:75px;
			position:absolute;
			display:none;}
#pop_body h3{text-align:center;}
#btn{position:absolute;}
.menu{width:130px;
		height:130px;
		overflow:hidden;
		position:absolute;
		top:0;
		left:0;
		margin-top:-50px;
		margin-left:1045px;}
.menu img{width:100%;
			height:100%;}
.back span{position:absolute;
			top:0;
			color:#fff;
			font-size:50px;
			font-weight:600;
			margin-top:130px;
			left:50%;
			margin-left:-220px;}
.submenu{width:100%;
		height:200px;
		margin-top:45px;
		position:relative;
		display:none;
		position:absolute;
		z-index:6;}
.submenu li{width:150px;
			line-height:52px;
			background-color:#ebebeb;
			font-size:15px;
			margin-left:15px;
			z-index:5;}
.submenu li:hover a{color:#14a4af;
					border-bottom:1px solid #14a4af;}
.nav2{position:absolute;
		top:0;
		left:0;
		margin-top:303px;
		margin-left:130px;
		z-index:3;
		}
.nav2 li{float:left;
		margin-left:130px;}

.nav2 li h2{width:120px;
		height:82px;
		color:#fff;
		line-height:80px;
		font-size:18px;
		font-weight:600;
		margin-top:30px;
		text-align:center;
		transition:all 0.3s;}
#line7{left:0;
		margin-left:-129px;
		margin-top:30px;
		z-index:1;
		position:absolute;}
#section1{width:1130px;
		height:700px;
		margin-top:600px;}

.section1_1 li{float:left;
				width:298px;
				margin-left:0.1px;
				height:350px;
				border:1px solid #ccc;}
.section1_2 li{float:left;
				width:299px;
				height:350px;
				margin-left:0.1px;
				margin-top:0.1px;
				border:1px solid #ccc;}
.section1_2{width:1200px;
			margin-top:122px;
			margin-left:100px;}
.section1_2 li:last-child{position:absolute;
								left:0;
								margin-left:1253px;}
.p1__1{margin-left:300px;
	margin-top:25px;
	position:absolute;}
.section1_1 h3, .section1_2 h3{font-size:30px;
							font-weight:600;
							float:left;
							width:250px;
							margin:20px;}
.section1_1 p, .section1_2 p{font-size:25px;
							margin-top:260px;
							margin-left:25px;}
#section1 h2{position:absolute;
			left:0;
			margin-left:360px;
			font-size:40px;
			font-weight:600;}
#section1 img{margin-top:40px;
				margin-left:100px;}
.section1_1{position:absolute;
			margin-left:402px;
			margin-top:-230px;}
	
.section2_1{width:1200px;
			height:155px;
			background-color:#14a4af;
			margin-left:100px;
			position:absolute;
			}
.section1_2 li{float:left;}
.section2_1 li{float:left;}
.section2_1 h3{font-size:30px;
			margin-top:30px;
			margin-left:25px;
			color:#fff;
			font-weight:600;}
.section2_1 li:nth-child(2){margin-top:50px;
							margin-left:30px;}
.section2_1 li:nth-child(3){
							margin-left:500px;}
#section3{margin-top:300px;
			margin-left:100px;}
#section3 ul{margin-top:20px;}
#section3 h3{font-size:40px;
			font-weight:600;}
#section3 li{position:absolute;}
#section3 li:nth-child(1){margin-left:1065px;
							z-index:2;
							margin-top:15px;}
#section3 li:nth-child(2){margin-left:1140px;
						z-index:2;
						margin-top:20px;}
#section3 span{font-size:20px;
				font-weight:600;}
#section4{margin-top:400px;
			margin-left:100px;}
.h3 h3{float:left;
		margin-top:-190px;
		font-size:30px;
		font-weight:600;}
.h3 li:nth-child(2){margin-left:450px;}
.h3 li:nth-child(3){margin-left:840px;}
.span span{float:left;
			font-size:20px;
			margin-top:-95px;
			margin-left:150px;}
.span li:nth-child(2){margin-left:460px;}
.span li:nth-child(3){margin-left:830px;}
#section5{margin-top:200px;
			margin-left:100px;}
#section5 ul{width:600px;
				float:left;}
.right2 p{margin-top:550px;
			margin-left:270px;
			font-size:20px;}
.right2{margin-top:-50px;
		margin-left:70px;}
.right2 li{width:250px;
			height:250px;
			background-color:#eeeeee;
			float:left;
			margin:10px;}
#section5 h2{font-size:40px;
			font-weight:600;}
.left_1 h3{font-size:30px;
			font-weight:600;
			margin-top:60px;}
.left_2 h3{font-size:60px;
			font-weight:600;
			margin-top:20px;}
.left_3 h3, .left_4 h3{font-size:30px;
font-weight:600;
margin-top:80px;}
.left_4 h3{margin-top:110px;}
.left_5 h3, .left_6 h3{font-size:60px;
						font-weight:600;
						margin-left:300px;
						}
.left_5 h3{margin-top:-200px;}
.left_6 h3{margin-top:60px;}
.right2 h3{font-size:30px;
			line-height:60px;
			text-align:center;
			margin-top:60px;
			font-weight:600;}

#section6{width:1130px;
		height:100%;
		margin-left:90px;
		margin-top:700px;}

.tableType1 thead th{padding:20px 0;
			
			background:#f7f7f7;
			color:#333;
			font-size:15px;
			font-weight:400;}

.tableType1 thead tr:first-child th{border-top:0;}
.tableType1 tbody th{font-weight:400;
						color:#555;
						font-weight:300;}
.tableType1 tbody td{font-family:'muli';
						font-weight:300;
						text-align:center;}
.tableType1 tbody th span,.tableType1 tbody td span{display:block;
													height:70px;
													padding:24px 4px 22px;
													margin:0 10px;
													border-top:1px solid #e6e6e6;
													font-size:15px;
													box-sizing:border-box;
													width:150px;}
.tableType2 tbody td span{display:block;
													height:10px;
													
													font-size:15px;
													width:100px;}

.tableType1 tbody th:first-child span{margin-left:0}
.tableType1 tbody td:last-child span{margin-right:0;padding-right:10px;}
.tableType1 tbody tr:first-child th span,.tableType1 tbody tr:first-child td span{border-top:0;}
.tableType1 tbody th.aLeft span{padding-left:10px;}
.tableType1 tbody tr.total th{font-weight:400;}
.tableType1 tbody tr.total td{font-weight:600;}
.tableType1 tbody tr.total+tr th,.tableType1 tbody tr.total+tr td{border-top:1px solid;}

.tableType1 tbody tr.total+tr th>span,.tableType1 tbody tr.total+tr td>span{border-top:0;}

.tableType2 thead th span{padding:22px 0;
					border-left:1px solid #ccc;
					border-top:1px solid #ccc;
					text-align:center;
					border-bottom:2px solid #ccc;
					border-top:1px solid #e6e6e6;}

.tableType2 thead tr:first-child th:first-child{border-left:0;}
.tableType2 thead tr:first-child th{border-top:0;}
.tableType2 tbody th,.tableType2 thead th{background:#f7f7f7;font-size:15px;color:#333;font-weight:400;}
.tableType2 tbody td{padding:24px 0;color:#555;font-size:16px;font-weight:300;}

.conRight{width:500px;
		position:absolute;
		top:0;
		left:0;
		margin-top:3330px;
		margin-left:1040px;}
.conLeft{width:600px;}

tr th{width:130px;
		margin-left:20px;}
tr td span{width:180px;}
tr td{width:150px;
	text-align:right;}
.bRight span{padding-left:310px;}
.aRight span{padding-left:30px;}


#section7{margin-top:500px;
		}
#section7 ul{width:380px;
				height:160px;
				float:left;
				background-color:#14a4af;
				margin-left:30px;}
#section7 ul:nth-child(3){position:absolute;
							margin-left:820px;}
#section7 ul:nth-child(1){
							margin-left:0px;}
#section7 h3{font-size:30px;
			color:#fff;
			padding:15px;}
#section7 p{font-size:20px;
			color:#fff;
			padding-left:15px;
			padding-top:30px;}

.se li:nth-child(3){margin-left:130px;
					margin-top:-20px;}
.se2 li:nth-child(3){margin-left:130px;
					margin-top:-20px;}
.se3 li:nth-child(3){margin-left:130px;
					margin-top:-20px;}

.se li:nth-child(4){margin-left:-110px;
					margin-top:-153px;}
.se2 li:nth-child(4){margin-left:195px;
					margin-top:-225px;}
.se3 li:nth-child(4){margin-left:220px;
					margin-top:-169px;}
.se3{overflow:hidden;}



footer{width:1400px;
		height:220px;
		background-color:#000;
		margin-top:750px;
		margin-left:-100px;}
.f_logo{width:100px;
		height:40px;
		padding-top:60px;
		padding-left:50px;
		position:absolute;}
.f_nav{width:1400px;
		height:110px;
		position:absolute;
		padding-top:50px;
		}
.f_nav li{float:left;
			color:#fff;
			padding-left:130px;
			text-align:center;}
.f_nav h2{font-size:25px;
		color:#fff;}
.f_nav li:first-child{padding-left:280px;}
.sns{width:500px;
	height:110px;
	font-size:14px;}
.sns li{color:#fff;
		float:left;
		margin-left:10px;
		margin-top:140px;}
.sns li:first-child{padding-left:230px;}
.sns h2{font-size:14px;
		color:#fff;}
.copyright{width:800px;}
.copyright span{
			margin-top:30px;
			margin-left:20px;
			color:#fff;
			float:left;
			font-size:13px;
			position:absolute;}
footer button{width:150px;
				height:30px;
				position:absolute;
				margin-left:800px;
				margin-top:25px;
				background-color:transparent !important;;
				background-image: none !important;
				border-color: transparent;
				border: none;
				color: #FFFFFF;
				font-size:18px;}
#line20, #line21{margin-top:-20px;
				position:absolute;}